mongo_uri = "mongodb://localhost:27017"

# Allowed users
user_csv = "users.csv"

# Default settings for the bots

[translate]
token = ""
source = "en"
target = "zh"

[chat]
token = ""
max_tokens = 100
temperature = 0.9
top_p = 1
frequency_penalty = 0
presence_penalty = 0
stop = ["\n", " Human:", " AI:"]

[draw]
token = ""
number = 1
width = 512
height = 512

[math]
token = ""
width = 512
